@layer base {
  * {
    @apply border-border;
  }
  html {
    color-scheme: light dark;
  }
  html.dark {
    color-scheme: dark;
  }
  html.light {
    color-scheme: light;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .session-message a {
    @apply text-primary underline font-bold;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
